<img src="/assets/mage_argument.png">
<div class="conversation">
    <div class="right">Practicing your 'casting' again? I will not fall for your childish tricks more than once Geraldo...</div>
    <div class="left">Hey why don't you buzz off I only signed up to the guild for the stipend I just wanna fish for Pete's sake!</div>
    <div class="right">Ahhh... You force force my hand again. I will see you educated. You are summoned to the guild castle. Let us see if your talent at summoning magic will help you avoid my summons!</div>
    <button (click)='start()'>Begin!</button>
</div>
