button {
    all:unset;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

button.skeletonSpawn {
    background: url('/assets/skeleton.png');
    z-index: 10000;
}

button.zombieSpawn {
    background: url('/assets/zombie.png');
}

.bars { 
    width: 1000px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .playerBars {
        .healthBar {
            width: 100px;
            height: 10px;
            position: relative;
            border: 1px solid black;
            margin-bottom: 3px;
        }
        .healthBar:after {
            content: '\A';
            position: absolute;
            background: red;
            top: 0;
            bottom: 0;
            left: 0;
            width: var(--playerHealth);
        }
        .mana {
            width: 70px;
            height: 10px;
            position: relative;
            border: 1px solid black;
        }
        .mana:after {
            content: '\A';
            position: absolute;
            background: blue;
            top: 0;
            bottom: 0;
            left: 0;
            width: var(--playerMana);
        }
    }

    .enemyBars {
        .healthBar {
            width: 100px;
            height: 10px;
            position: relative;
            border: 1px solid black;
        }
        .healthBar:after {
            content: '\A';
            position: absolute;
            background: red;
            top: 0;
            bottom: 0;
            right: 0;
            width: var(--enemyHealth);
        }
    }
}

.enemy {
    transform: scaleX(-1);
}

.playerSpawnBlock {
    width: 32px;
    height: 32px;
    left: 64px;
}

.enemySpawnBlock {
    width: 32px;
    height: 32px;
    left: 902px;
}

.container {
    position: relative;
}

.gameObject {
    position: absolute;
}