<button (click)=spawnGuy()></button>

<div class="bars">
  <div class="playerBars">
    <div class="healthBar"></div>
    <div class="mana"></div>
  </div>
  <div class="enemyBars">
    <div class="healthBar"></div>
  </div>
</div>

<div class="container">
  <img class="PlayerCastle castle gameObject" src="/assets/castle.png">

  <img *ngFor="let guy of yourGuys; index as i;" id='{{guy.id}}' class="guy gameObject" [style.top]="turnToPixels(groundLevel)" [style.left]="turnToPixels(guy.x)" src="/assets/zombie.png">

  <img class="EnemyCastle castle gameObject" src="/assets/castle.png" [style.left]="'936px'" id="EnemyCastle">
</div>

